<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Page Title</title>
    <%= javascript_include_tag 'acceptance' %>
  </head>
  <body>
  
    <% validated_form_for(@article) do |f| %>
      <%= field f, :title %>
      <%= field f, :password %>
      <%= field f, :password_confirmation %>
      <%= submit_tag "Save" %>
    <% end %>
    
    <script type="text/javascript">
    Acceptance.onValidation(function(field) {
      var input     = field.input,
          container = input.parentNode,
          errorElem = container.getElementsByTagName('span')[0];
      
      if (field.valid) {
        if (errorElem) errorElem.parentNode.removeChild(errorElem);
      } else {
        if (!errorElem) {
          errorElem = document.createElement('span');
          container.appendChild(errorElem);
        }
        errorElem.innerHTML = field.errors[0];
      }
    });
    
    Acceptance.macro('toValidateSlowly', function(message) {
      return function(returns, validation) {
        var value  = validation.value,
            input  = validation.input,
            errors = validation.errors;
        
        if (errors.length > 0) return returns(true);
        
        input.value = 'Validating...';
        
        setTimeout(function() {
          input.value = value;
          returns( (value === 'script') ? true : [message] );
        }, 2000);
      };
    });
    
    Acceptance.form('new_article').
    requires('article[title]').toValidateSlowly('Too slow!');
    </script>
  
  </body>
</html>

